body {
	font: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	height: 100%;
	padding: 10px;
	background-color: #8edef7;
	display: table-cell;
	vertical-align: middle;
}

html {
	display: table;
	margin: auto;
	height: 100%;
}

p {
	font-weight: bold;
	font-size: 22px;
}

fieldset {
	border: none;
}

label {
	display: block;
	padding-bottom: 2px;
	font-weight: bold;
}

section {
	padding-bottom: 15px;
}

p#pair {
	padding-left: 150px;
	font-size: 16px;
}

textarea#theDescription, input[type=text], label#locationview, input[type=date] {
	resize: none;
	font-size: 16px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	border-radius: 4px;
	width: 500px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
	padding-left: 10px;
	padding-right: 10px;
}

textarea#theDescription {
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type=text], label#locationview, input[type=date] {
	height: 32px;
}

label#locationview {
	line-height: 32px;
	background-color: white;
}

label#prioritylabel {
	float: left;
	padding-right: 25px;
}

button {
	float: left;
}

input[type=button] {
	background-color: #0080aa;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	color: white;
}

input[type=button]:hover {
	background-color: #015e7c;
}

input[type=button]:focus {
	outline: none;
}


label#notification {
	display: inline;
	padding-left: 10px;
}

label#lastnamelabel {
	padding-top: 5px;
}

input[type="text"]:focus, textarea#theDescription:focus, input[type="date"]:focus {
	border-color: rgba(0, 128, 170, 1);
	outline: 0;
	-webkit-box-shadow: inset 0 -1px 0px rgba(0,0,0,.075), 0 0 10px rgba(0, 128, 170, .75);
	box-shadow: inset 0 -1px 0px rgba(0,0,0,.075), 0 0 10px rgba(0, 128, 170, .75);
}  

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
